body {
  font-family: 'Lato', sans-serif !important;
  background-color: #FCFCFC;
}

.background-pic {
  background-image: url('footer_lodyas.png');
}

#home {
  color: #F7F7F7;
  text-align: center;
}

#home h1 {
  font-size: 3.5rem;
  letter-spacing: 4px;
}

.panel {
  background-color: #FFFFFF;
  opacity: .85;
  color: #5F5F5F;
  padding: 10px;
  margin-bottom: 20px;
}

#form2 {
  padding-top: 30px;
}

#form2 label {
  font-size: 1.5rem;
  color: #F7F7F7;
  letter-spacing: 2px;
}

#title {
  color: #3F3F3F;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 20px;
}

.topics {
  list-style-type: none;
  padding-bottom: 10px;
  cursor: pointer;
}

.topics:hover{
  opacity: .6;
  color: #3399ff;
}

#mynetwork {
  margin: auto;
  width: 100%;
  height: 800px;
}

#info-row {
  padding-bottom: 80px;
}

#instructions {
  font-style: italic;
  text-align: center;
  color: #3F3F3F;
}

.go-back {
  padding-right: 10px;
  cursor: pointer;
}

.go-back:hover {
  opacity: .6;
}

#summary {
  font-size: .9em;
}

#menu-title {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

#menu-title a{
  color: #3399ff;
}

#menu-title a:hover {
  color: #3399ff;
}

#menu-input {
  display: inline-block;
  margin-left: 10px;
  width: 40rem;
  margin-bottom: 0;
  height: 3rem;
}

#nav-bar {
  background-color: black;
}
