<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='foundation-6.2.3-complete/css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='springy.js') }}"></script>
    <script src="{{ url_for('static', filename='springyui.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
    <title>WikiMaps</title>
  </head>
  <body>
    <div class="row full-width">
      <form id="form2" action="/search" method="POST">
        <div class="row">
          <div class="small-3 large-2 columns">
            <label for="right-label" class="right inline" style="text-align:center;"><a href="{{ url_for('.main') }}">WIKIMAPS</a></label>
          </div>
          <div class="small-9 large-10 columns">
            <input type="text" id="right-label" name="query" placeholder="Search for a topic">
          </div>
        </div>
      </form>
        <div class="row">
          <h1 id="title">{{ data.name }}</h1>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <div class="panel">
              <ul>
              {% for element in data.children %}
                <li class="topics">{{ element.name }}</li>
              {% endfor %}
              </ul>
            </div>
          </div>
          <div class="large-9 columns" id="vis">
            <div class="panel" id="mynetwork">

            </div>
          </div>
        </div>
    </div>
  </body>
  <script>
  $(document).ready(function(){
    var topiclist = ["{{data.name}}"];
    {% for element in data.children %}
      topiclist.push("{{element.name}}");
    {% endfor %}

    var nodelist = turnIntoNodes(topiclist, 1)
    var edgelist = turnIntoEdges(1, 2, 6)

    var response = draw(nodelist, edgelist);
    var nodes = response[0];
    var edges = response[1];
    console.log(nodes);

    $('.topics').click(function(){
      var topic = $(this).text();
      console.log(topic);
      response = subtopic(topic);
      console.log(response);

    });

    var subtopic = function(topic) {
      $.getJSON('/subtopic', {'topic': topic},
      function(data){
        console.log(data);
        var newtopics = [];
        for (i=0; i<data.children.length; i++){
          topiclist.push(data.children[i].name);
          newtopics.push(data.children[i].name);
        }
        var len = topiclist.length + 1
        var index = topiclist.indexOf(topic) + 1;
        var nodelist = turnIntoNodes(newtopics, len);
        var edgelist = turnIntoEdges(index, len, len+4);

        for (i=0; i<nodelist.length; i++) {
          nodes.add(nodelist[i]);
        }
        for (i=0; i<edgelist.length; i++){
          edges.add(edgelist[i]);
        }
      });
  }
  });



  var turnIntoNodes = function(topiclist, i) {
    var nodelist = [];
    for (x=i; x<i+topiclist.length; x++) {
      nodelist.push({'id':x, 'label':topiclist[x-i] });
    }
    return nodelist;
  }

  var turnIntoEdges = function(root, start, end) {
    var edgelist = [];
    for (x=start; x<=end; x++) {
      edgelist.push({'from':root, 'to':x});
    }
    return edgelist;
  };

  function draw(nodelist, edgelist) {

    var nodes = new vis.DataSet(nodelist);
    var edges = new vis.DataSet(edgelist);

    var container = document.getElementById('mynetwork');
    var data = {
      nodes: nodes,
      edges: edges
    };
    var options = { nodes: {
        shape: 'dot',
        size: 16
    },
      physics: {
         forceAtlas2Based: {
             gravitationalConstant: -26,
             centralGravity: 0.005,
             springLength: 230,
             springConstant: 0.18
         },
         maxVelocity: 146,
         solver: 'forceAtlas2Based',
         timestep: 0.35,
         stabilization: {iterations: 150}
     }
    };
    var network = new vis.Network(container, data, options);

    return [nodes, edges];

  }
  </script>

</html>
