<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='foundation-6.2.3-complete/css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
    <title>WikiMaps</title>
  </head>
  <body>
    <div class="row" id="nav-bar" style="max-width: 100%;">
      <div class="large-12 columns">
          <form action="/search" method="POST">
              <span id="menu-title" class="right inline"><a href="{{ url_for('.main') }}">WIKIMAPS</a></span>
              <input type="text" name="query" id="menu-input" placeholder="Search for a topic">
              <span class="menu-links"><a>SOURCE CODE</a></span>
              <span class="menu-links"><a data-open="about-modal">ABOUT</a></span>
          </form>
      </div>
    </div>

    <div class="reveal" id="about-modal" data-reveal>
      <h2 style="text-align: center;">How It Works</h2>
      <p>On a topic's result page, five random outbound Wikipedia links are displayed as related topics. Clicking these will show that topic's five random related links and add on to the visualization.</p>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="row" style="max-width: 95rem; color:#454545;">
        <div class="row" style="text-align: center;">
          <a href="{{data.url}}" target="_blank" id="title">{{ data.name }}</a>
          <p id="instructions">Click on a topic name on the left to add to the visualization below. </p>
        </div>
        <div class="row" id="info-row">
          <div id="loading" style="display:none;">
            <img src="static/rolling.gif"/>
          </div>
          <div class="large-3 columns panel-container">
            <div class="topic-container isVisible" id="0">
              <a class="topics-title"></a>
              <p id="summary">{{summary}}</p>
              <p style="font-weight:bold;">Explore related topics:</p>
              <ul id="topics-list">
              </ul>
            </div>
          </div>
          <div class="large-9 columns" id="vis">
            <div class="" id="mynetwork">

            </div>
          </div>
        </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='foundation-6.2.3-complete/js/vendor/foundation.min.js') }}"></script>
  <script>
  $(document).ready(function(){
    $(document).foundation()
    var topiclist = ["{{data.name}}"];
    {% for element in data.children %}
      topiclist.push(decodeURI("{{element.name}}"));
      $('#topics-list').append('<li class="topics">' + decodeURI("{{element.name}}") + '</li');
    {% endfor %}

    var nodelist = turnIntoNodes(topiclist, 1)
    var edgelist = turnIntoEdges(1, 2, 6)

    var response = draw(nodelist, edgelist);
    var nodes = response[0];
    var edges = response[1];
    console.log(nodes);
    var clicked = []
    var clickedOrder = [0]

    $("body").on("click", ".topics", function() {
      var topic = $(this).text();
      console.log(topic);
      if (clicked.indexOf(topic) == -1) {
        clicked.push(decodeURI(topic));
        var newtopics = [];

        $('#loading').show();
        $.getJSON('/subtopic', {'topic': topic},
        function(data){
          $('#loading').hide();
          var summary = data.summary;
          var len = topiclist.length + 1;

          for (i=0; i<data.children.length; i++){
            topiclist.push(decodeURI(data.children[i].name));
            newtopics.push(data.children[i].name);
          }
          console.log(topiclist);

          var index = topiclist.indexOf(decodeURI(topic)) + 1;
          var nodelist = turnIntoNodes(newtopics, len);
          var edgelist = turnIntoEdges(index, len, len + data.children.length -1);
          console.log(edgelist);

          for (i=0; i<nodelist.length; i++) {
            nodes.add(nodelist[i]);
          }
          for (i=0; i<edgelist.length; i++){
            edges.add(edgelist[i]);
          }

          var currId = $('.topic-container').attr('id');
          currId = Number(currId);
          var newId = currId + 1;
          clickedOrder.push(newId);

          $('.topic-container').hide();
          $('.topic-container').removeClass('isVisible');
          newcontainer = $('.panel-container').prepend('<div class="topic-container isVisible" id="' + newId + '"><ul id="topics-list"></ul></div>')
          $('.topic-container#' + newId).prepend('<p style="font-weight:bold;">Explore related topics:</p>');
          $('.topic-container#' + newId).prepend('<p id="summary">' + summary + '</p>')
          $('.topic-container#' + newId).prepend('<span class="go-back">&larr;</span><a href="' + data.url +'" target="_blank" class="topics-title" id="' + newId + '">'+ topic + '</a>');
          for (i=0; i<newtopics.length; i++){
            $(newcontainer).find('#topics-list').append('<li class="topics isVisible" id="' + newId + '">' + decodeURI(newtopics[i]) + '</li>');
          }
        }).fail(function(){
          $('#loading').hide();
          alert('Sorry, there was an error in adding the topic. Please try a different one.');

        });

      }
    });

    $("body").on("click", ".go-back", function() {
      var currId = $('.topic-container.isVisible').attr('id');
      var oldId = clickedOrder.indexOf(Number(currId)) - 1;

      oldId = clickedOrder[oldId];
      clickedOrder.push(oldId);

      $('.topic-container.isVisible').hide().removeClass('isVisible');
      $('.topic-container#' + oldId).addClass('isVisible').show();

      if ($('.isVisible span').hasClass('go-forward') == false) {
        $('<span class="go-forward">&rarr;</span><br>').insertAfter('.isVisible .topics-title');
      }
    });

    $("body").on("click", ".go-forward", function() {
      var currId = $('.topic-container.isVisible').attr('id');
      var oldId = clickedOrder.lastIndexOf(Number(currId), -2) + 1;

      oldId = clickedOrder[oldId];
      // clickedOrder.push(oldId);

      $('.topic-container.isVisible').hide().removeClass('isVisible');
      $('.topic-container#' + oldId).addClass('isVisible').show();
    });


  });



  var turnIntoNodes = function(topiclist, i) {
    var nodelist = [];
    for (x=i; x<i+topiclist.length; x++) {
      nodelist.push({'id':x, 'label':decodeURI(topiclist[x-i]) });
    }
    return nodelist;
  }

  var turnIntoEdges = function(root, start, end) {
    var edgelist = [];
    for (x=start; x<=end; x++) {
      edgelist.push({'from':root, 'to':x});
    }
    return edgelist;
  };

  function draw(nodelist, edgelist) {

    var nodes = new vis.DataSet(nodelist);
    var edges = new vis.DataSet(edgelist);

    var container = document.getElementById('mynetwork');
    var data = {
      nodes: nodes,
      edges: edges
    };
    var options = { nodes: {
        shape: 'dot',
        size: 16
    },
      physics: {
         forceAtlas2Based: {
             gravitationalConstant: -26,
             centralGravity: 0.005,
             springLength: 230,
             springConstant: 0.18
         },
         maxVelocity: 146,
         solver: 'forceAtlas2Based',
         timestep: 0.35,
         stabilization: {iterations: 150}
     }
    };
    var network = new vis.Network(container, data, options);

    return [nodes, edges];

  }
  </script>

</html>
