<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='foundation-6.2.3-complete/css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
    <title>WikiMaps</title>
  </head>
  <body class="background-pic">
    <div class="row full-width" id="home">
      <div class="row">
        <h1>WIKIMAPS</h1>
      </div>

      <form action="/search" method="POST">
        <div class="row">
          <div class="large-6 columns">
            <input name="query" type="text" placeholder="Search for a topic" id="form-input">
          </div>
        </div>
      </form>
      <div class="row">
        <h4>Explore Wikipedia like never before.</h4>
      </div>
    </div>
  </body>
</html>
